@import './../config';
@import './../utils';

.intro {
    p {
        font-weight: 300;
        color:$gray;
        margin: 0;
    }
    
    button {
        @extend %button__transparent__blue;
        margin-top:2vh;
        padding: 5px 15px;
    }
    &-details {
        @extend %flex-box;
        width:70vw;
        margin:6vh auto;
           .browse-wrapper{
            margin-left:3vw;
        }
        @media only screen and(max-width:650px){
            width: 95vw;
            img {
                display: none;
            }
            .browse-wrapper{
                margin-left: 0;
            }
        }
    }
}

