$orange : rgb(246,109,26);
$red: rgb(194,29,40);
$purple : rgb(134,47,79);

.button__wrapper{
        display: inline;
        width:fit-content;
        button {
            background:linear-gradient(45deg, $orange, $red, $purple);
            color:white;
            border:none;
            outline: none;
            border-radius: 2.5em;
            font-size: inherit;
            padding:0.4em 1.3em;
            margin-right:1.5em;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);        
        &:hover {
            background:linear-gradient(135deg, $purple,$red, $orange);
        }
     }
}