@import '../config';

.search__wrapper {
    display: inline-flex;
    position: relative;
    height:fit-content;
        .search__icon{
            position: absolute;
            font-size: $larger-font-size;
            top:50%;
            left:0.8em;
            transform: translateY(-50%);
            color:$gray;
        }
        input {
            background-color:$light-blue;
            outline: none;
            border:none;
            border-radius: 1.5em;
            width:100%;
            padding:0 3.2em;
            font-size: $primary-font-size;
            height:2.5em;
        }
}

@media only screen and (max-width: 650px){
    .search__wrapper {
     display: none;
    }
  }