.search__wrapper {
    display: inline-flex;
    position: relative;
    width:20vw;
    height:fit-content;
        .search__icon{
            position: absolute;
            font-size: 1.2em;
            top:50%;
            left:0.8em;
            transform: translateY(-50%);
            color:#666;
        }
        input {
            background-color: rgba(134, 47, 79, 0.1);
            outline: none;
            border:none;
            border-radius: 0.5em;
            width:100%;
            padding:0 3.2em;
            font-size: 1em;
            height:3em;
        }
}