@import '../../config';

.job__section {
    width:30%;
    text-align: left;
    background-color: white;
    padding:0.5em;
    border-radius: 0.5em;
    a {
        color: $gray;
        text-decoration: none;
        font-weight: 500;
        &:hover {
            color:$darkgray;
            border-bottom: 1px solid $darkgray;
        }
    }
    @media only screen and(max-width:650px) {
        display: none;
    }
}