@import '../config';
@import '../utils';

.main {
    @extend %flex-box;
    align-items: flex-start;
    background-color:$main-bg-color;
    margin-top:8vh;
    padding:6vh 2vw 0 5vw;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    @media  only screen and (max-width:850px){
        padding:1em 1em;
    }
    .job__section {
        width:30%;
        .jobs-wrapper {
            flex-direction: column;
            width:100%;
        } 
        .divContainer {
            width:100%;
            border-right: none;
            box-shadow: none;
        }
    }
    .sectionProfile {
        width:20%;
    }
    .timeline {
        width: 45%;
        @media  only screen and (max-width:650px){
            width:90%;
            margin:0 auto;
        }
    }
   
}
