@import '../../config';
@import '../../utils';

.job {
    &__details {
        margin-right:1em;
    }
    &__card {
        @extend %flex-box;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        background-color: white;
        margin:1em 0;
        text-align: left;
        color:$gray;
        border:1px solid $light-blue;
        box-shadow: 2px 2px 6px solid $light-blue;
        padding:0.5em;
    }
        &__title {
            font-weight: 500;
            font-size: 1.1em;
            padding-top:0.5em;
            .company__name {
                font-weight: bold;
            }
        }
        &__date {
            font-size: 0.9em;
        } 
        
        &__badge {
            @extend %flex-box;
            flex-wrap: wrap;
            justify-content: flex-start;
            padding-top: 0.5em;
            span {
                color:white;
                background-color: $blue;
                font-weight: bold;
                font-size: 0.7em;
                padding:0 0.3em;
                border-radius:1em;
                // background-color: $blue;
                margin-right:0.5em;
                &:last-child{
                    margin-right:0;
                }
            }
        }
    &__apply__link {
        font-size: 0.9em;
        padding-top:0.5em;
        word-break: break-word;
    }
    &__description{
        padding-top:1em;
        font-size: 0.7em;
    }
}
.company__logo {
   img {
    max-width: 4em;
   }
}

.details__btn {
    @extend %button__transparent__blue;
    width:fit-content;
    padding:0.3em 0.8em;
    font-size: 0.9em;
    font-weight: 500;
}

@media only screen and (max-width:850px) {
    .job__details {
        width:100%;
        margin-right: 0;
    }
    .company__logo {
        img {
         display: none;
        }
     }
     
}