.profile__info {
    .details{
        .audience__info {
            padding:0;
            font-size: 100%;
        }
    }
    .audience__list ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: auto;
        height:100%;
    }
    .audience__list li {
        width:45%;
    }
    .about__wrapper li {
        width:100%;
    }
    .shortProfile{
        width:100%;
    }
}