

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ulClass{
 list-style: none;
 display: flex;
 justify-content: space-around;
 align-items: center;
 margin: 0 0 3% 10%;
}
.ulClass li{
  margin: 5px;
  cursor: pointer;
}
.marginIcon {
margin-left: -70%;
  font-size: 23px;
}

.navDiv{
  margin: 5% auto;
  width: 50%;
  border-radius: 5px;
 border:1px solid lightgray;
 margin-left: 4%;
}
.profile-image {
  width: 60px;
  height: 60px;
 
  border-radius: 50%;
  border: 3px solid white;
  margin-right: 5px;
}
.inputDiv{
  display: flex;
  margin: 2% 1% 4%;
  padding: 2%;
  justify-content: space-around;
  border-radius: 5px;
  margin-bottom: -1rem;
}
.navContainer{
  margin: 0 2% 2% -2%;
}
.navInput{
  width: 100%;
border: 1px solid lightgray;
  padding: 10px;
  border-radius: 30px;
  margin: 1% 3% 3% ;
  box-shadow: none;
  outline: none;

}
.buttonDiv{
  margin-left: 75%;
  padding: 2%;
}

.exampleDiv{
  width: 70%;
  margin: 0 40px -27px;
}
.btn-primary {
  color: #fff;
  background-color: #9cabbb;
  border-color: #ffffff;
}
.btn-color-c{
  background: linear-gradient(45deg, #f66d1a, #c21d28, #862f4f);
}

/* likes style */
ul.likeUl{
  list-style: none;
}
.likeUl li{
  display: inline-block;
  margin: 5px 15px;
}

@media only screen and (max-width: 650px) {
 
  .ulClass svg{
    display: none;
   }
   .ulClass .exampleDiv {
     width: 40%;
     margin:0;
 }
  .ulClass {
      padding-right: 2%;
  }
  .divContainer {
    margin-left: -1rem;
}
.navDiv ul.likeUl{
margin: 5px 0 0;
}
}

@media only screen and (max-width: 350px) {
  .ulClass .exampleDiv {
    margin:0 1%;
}
.divContainer {
  width: 340px;
}
button.btn-color-c{
  font-size: 0.7rem;
  width: 45px;
  padding: 5px 2px;
}
}