@import '../../config';
@import '../../utils';

.profile__info {
    width: 70vw;
    display: flex;
    font-size: 110%;
    justify-content: space-between;
    position: relative;

    .details__title,
    .audience__info {
        font-weight: 500;
        padding:0 .8em;
        cursor: pointer;
        .icon {
            margin-right:0.3em;
        }
        @media only screen and (max-width: 450px){
            font-size:70%;
            font-weight: bold;
            padding:0.2em;
        } 
       
    }
  
    .details{
        color:$gray;
        display: flex;
        justify-content: center;
        border-radius:5px;
        padding:2vh 0;
        margin-bottom:2px;
        &:hover{
            background-color: $light-blue;
            color:#333;
            transition: .5s;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            margin-left:2vw;
            li {
                border: 0.5px solid rgba(0, 0, 0, 0.05);
                border-radius: 5px;
                a {
                    text-decoration: none;
                }
            }
        }
    }
    .active-subpage {
        background-color: $main-bg-color;
        &:hover {
            background-color: $main-bg-color;
        }
        .details__title {
            pointer-events: none;
        }
        
    }
    .wrapper {
        position: absolute;
        top:100%;
        left:0;
        width: stretch;
        height:50vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 5px;
        padding:1em;
        background-color: $main-bg-color;
        @media only screen and (max-width: 450px){
            height:50vh;
            .shortProfile img{
                width:25px;
                height:25px;
            }
        }
        .details__fields {
            background-color: white;
            width: 100%;
            text-align: left;
            display: flex;
            align-items: center;
            margin:0.3em 0;
            padding:0.5em;
            box-shadow:1px 1px 4px $shadow-color;
            border-radius: 5px;
            position: relative;
            .icon {
                margin-right: 0.5em;
            }

        }

        .audience__list {
            margin-left:0.8em;
        }
            
         .username {
           font-size: 100%;
           padding:0;
           padding-left:1em;
       
       }

    }   
}