@import '../utils';
@import '../config';


.header {
    position: fixed;
    top:0;
    height:8vh;
    background-color: white;
    z-index:999;
    width:100%;
    padding: 0 2.5vw;
    box-shadow:1px 0px 4px 0 $shadow-color ;
    .logo-wrapper {
        height: 50px;
        display: flex;
        align-items: center;
        @media only screen and (max-width: 650px) {
            width:100vw;
            justify-content: space-between;
            padding:0 2vw;
        }
        
    }
    .header-logo img {
        width:13vw;
        min-width: 130px;
        margin-right:1vw;
    }   
    
    a {
        text-decoration: none;
    }
    @extend %flex-box;
    justify-content: space-between;
    .nav-list-wrapper {
        display: flex;
        // box-shadow:1px 1px 4px $shadow-color;
        @media only screen and (max-width: 650px) {
            position: fixed;
            font-size: 80%;
            box-shadow: 10px 10px 20px black;
            bottom:0;
            background-color: white;
            width:100vw;
            justify-content: space-around;
            box-shadow:1px -1px 4px $shadow-color;
            .nav-li {
                margin-left:0;
            }
        }
        
    }
    .nav-li {
        display: block;
        color:$gray;
        font-weight: 500;
        // font-size: $primary-font-size;
        cursor: pointer;
        height:100%;
        padding:0.3vw 1vw;
        line-height: 40px;
        margin-left:3vw;
       
        &:hover {
            color:$darkgray;
            background-color: $light-blue;
            .shortProfile {
                background-color: transparent;
            }
        }
        
        @media only screen and (max-width: 800px){
            margin-left: 1.1vw;
            padding: 0.2vw 0.5vw;
        }
    }
    .active-nav {
        background-color:$light-blue;
        border-radius: 5px;
        .shortProfile{
            background-color: transparent;
        }
    }
    .shortProfile {
        padding:0;
    }

    .icon {
        margin-right:0.3em;
    }
    @media only screen and (max-width: 650px) {
        padding:0;
    }
       
}

.search__wrapper {
    display: inline-flex;
    position: relative;
    height:fit-content;
        .search__icon{
            position: absolute;
            top:50%;
            left:0.8em;
            transform: translateY(-50%);
            color:$gray;
        }
        input {
            background-color:white !important;
            outline: none;
            border:1px solid $blue;
            border-radius: 4px;
            width: 200px;
            padding:0 35px;
            height:5vh;
            margin:0;
            &:focus {
                background-color: $main-bg-color;
            }
        }
  
}
.search-result-field {
    position: absolute;
    top:8vh;
    left:0;
    height: 92vh;
    width:100vw;
    .result-wrapper {
        margin: 0;
        padding: 1vw;
        position: absolute;
        z-index:999;
        background-color: white;
        width:30vw;
        list-style: none;
        left:21.5vw;
        max-height: 50vh;
        overflow: auto;
        li {
            border: 0.5px solid rgba(0, 0, 0, 0.05);
            width:200px;
            padding:5px 15px;
            border-radius: 5px;
            margin-bottom: 1vw;
        }
        @media only screen and (max-width: 650px) {
            left:40vw;
            width:60vw;
        }
    }
}
.search-result-field::after {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 800px){
    .search__wrapper {
     
     input {
         width:140px;
     }
    }
  }

  .sign-options-wrapper {
      display: flex;
      .nav-li {
          margin-left:0.5vw;
      }
  }