@import '../utils';
@import '../config';


.header {
    a {
        text-decoration: none;
    }
    @extend %flex-box;
    justify-content: space-between;
    padding:1em 0;
    .nav-li {
        display: block;
        color:$gray;
        font-weight: 500;
        font-size: $primary-font-size;
        cursor: pointer;
        &:hover {
            color:$darkgray;
        }
    }

    .icon {
        margin-right:0.3em;
    }
    .jobs {
        // display: none;
        @media only screen and (min-width:650px){
             display: none;
        } 
    }
   
}