@import '../utils';
@import '../config';


.header {
    @extend %flex-box;
    justify-content: space-between;
    padding:1em 0;
    .nav-li {
        display: block;
        color:$gray;
        font-weight: 500;
        font-size: $primary-font-size;
        cursor: pointer;
        &:hover {
            color:$darkgray;
        }
    }

    .icon {
        margin-right:0.3em;
    }
}