@import '../../config';

.settings__wrapper {
    position: relative; 
    form {
        margin-top:1em;
        width:100%;
    }
    label {
        margin:0;
        margin-right:0.5em;
        width:20%;
    }
    .input__wrapper{
        position: relative;
        min-width:50%;
    }
    input {
        width:100%;
        border:1px solid $blue;
        border-radius: 5px;
        outline: none;
        padding: 0.3em 0.7em;
        margin:0;
        text-align: center;
        font-size: 0.8em;
        background-color: white;
    }
    .details__fields {
        position: relative;
        width:100%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    
    span {
        display: block;
        font-size: 0.6em;
    }
  
  button {
      position: absolute;
      top:0.5em;
      right:1em;
      font-weight: 500;
      background-color: transparent;
      color: #666;
      border:none;
      outline: none;
      z-index: 99;
  }
  &:hover {
      color:black;
  }
}