.divContainer{
  background-color: white;
  display:flex;
  flex-direction:column;
  color: gray;
  padding: 2%;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: left;
}
.divContainer a{
  text-decoration: none;
  color:#666;
}
.divContainer a:hover{
  color:#8b6335;
}
.divContainer .likeUl {
  padding: 1em;
  justify-content: flex-start;
  color:#319197;
}

.imgStyle {
  max-width:100%;
  display: block;
  margin-bottom: 5px;

}
.logo{
  max-width: 20%;
}

input{
  width:stretch;
  background-color: rgba(159, 219, 224, 0.1);
}



