
 .divContainer{
   width:510px; 
  
  display:flex;
  flex-direction:column;
  color: gray;
  padding: 2%;
  border:1px solid lightgray;
  border-radius: 5px;
  margin-bottom: 5px;
  text-align: left;
}
.divContainer a{
  text-decoration: none;
  color:gray
}
.divContainer a:hover{
  color:#8b6335;
}


.imgStyle {
  max-width:100%;
  display: block;
  margin-bottom: 5px;

}
.logo{
  max-width: 20%;
  margin-left: -0.5rem;
}
.inputDiv-c{
  margin: -4% 1% 1%;
}



/* @media only screen and (max-width: 850px){
  .container {
   font-size: 80%;
  }
}

@media only screen and (max-width: 650px){
  .divContainer{
    width:200px; 
  
 }
} */
