$orange : rgb(246,109,26);
$red: rgb(194,29,40);
$purple : rgb(134,47,79);
$blue: rgb(49,145,151);
$gray:  #666666;


* {
    box-sizing: border-box;
}

%flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sign__form{ 
    width:100vw;
    height:100vh;
    @extend %flex-box;
    .main__wrapper {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        width:40vw;
        padding:2em 0;
        @media only screen and (max-width: 920px){
            width:55vw;

        }
        @media only screen and (max-width: 650px){
            width:90vw;

        }
    }
    .inner__wrapper {
        width:80%;
        margin:0 auto;
        height:100%;
     }
     .buttons__wrapper {
         width:100%;
         @extend %flex-box;
        justify-content: flex-start;
     }
     .btn__wrapper {
        display:inline-block;
        width:fit-content;
        margin-right:0.1em;
        position: relative;
        padding:0.8em 1.2em;
        border:3px solid transparent;
        background: white;
        background-clip: padding-box;
        border-radius: 2.5em;
          .button {
            @extend %flex-box;
            border:none;
            margin:0;
            background-color: white;
            outline: none;
            font-size: 1.1em;
            color: $gray;
        }
        :hover{
            color:black;
        }
    }
    @media only screen and (max-width: 650px){
        font-size: 90%;
     }
    @media only screen and (max-width: 350px){
        font-size: 70%;
        }
}
.active{
   &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -3px; 
    border-radius: inherit;
    background: linear-gradient(135deg, $orange, $orange, $red, $red, $purple,$purple, $blue);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }
}



.inputField {
    width:100%;
    position: relative;
    margin-top:2.5em;
    border:1px solid $gray;
    border-radius: 5px;
    padding:1em 1em  1em 3.2em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    &:hover {
        box-shadow: 1px 1px 1px $red, 1px 1px 2px $orange,
                   -1px -1px 1px $orange, -1px -1px 2px $red;
    }
    input {
        width:100%;
        font-size: 1em;
        line-height: 1em;
        border:none;
        margin:0;
        outline: none;
        background-color: white;
    }
    .icon {
        position: absolute;
        left: 1em;
        top:50%;
        font-size: 1.2em;
        transform: translateY(-50%);
        color:$gray;
    }
}

.sign__btn {
    @extend %flex-box;
    justify-content: flex-start;
    margin-top:2em;
    button {
        background:linear-gradient(45deg, $orange, $red, $purple);
        color:white;
        border:none;
        outline: none;
        border-radius: 2.5em;
        font-size: 1.1em;
        padding:0.8em 1.5em;
        margin-right:1.5em;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    
    &:hover {
        background:linear-gradient(135deg, $purple,$red, $orange);
    }
 }
}

.facebook__login {
    margin-top:1.5em;
    .or__wrapper {
        width:100%;
        @extend %flex-box;
    }
    .or {
        width:45%;
        border-top:1px solid $gray;
    }
    .text{
        width:10%;
        border:none;
    }
    .fbButton {
        width:fit-content;
        margin:0 auto;
        position: relative;
        margin-top:1em;
        .faFacebook {
            position: absolute;
            left:1em;
            top:50%;
            transform: translateY(-50%);
            color:white;
            font-size: 1.2em;
        }
    button {
        border-radius:2.5em !important;
        font-size: 1em !important;
        padding: 1em 1.4em!important;
        padding-left:2.8em !important;
        font-weight: 300 !important;
        text-transform: capitalize;
        outline: none;
        &:hover {
           background-color: #405ba5 !important;
         }
    }
    
}
}

.errorMsg {
    color:$red;
    font-size: 0.8em;
    font-weight: bold;
}

.error__msg {
    position: absolute;
    font-size: 0.7em;
    font-weight: bold;
    top:105%;
    left:0;
    color:$red;
    text-align: left;
}