@import '../config';
@import '../utils';


.disabled {
    opacity: 0.5;
    pointer-events: none;
}
.sign__form { 
    width:100vw;
    height:100vh;
    @extend %flex-box;
    .main__wrapper {
        box-shadow:$box-shadow;
        width:40vw;
        padding:2em 0;
        @media only screen and (max-width: 920px){
            width:55vw;
        }

        @media only screen and (max-width: 650px){
            width:90vw;
        }
    }
    .inner__wrapper {
        width:80%;
        margin:0 auto;
        height:100%;
     }
     .buttons__wrapper {
         width:100%;
         @extend %flex-box;
        justify-content: flex-start;
     }
     .btn__wrapper {
        display:inline-block;
        width:fit-content;
        margin-right:0.1em;
        position: relative;
        padding:0.8em 1.2em;
        border:3px solid transparent;
        background: white;
        background-clip: padding-box;
        border-radius: 2.5em;
          .button {
            @extend %button;
            background-color: white;
            cursor: pointer;
        }
    }
    input{
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow: 0 0 0px 1000px white inset;  
     }

    @media only screen and (max-width: 650px){
        font-size: 90%;
    }
    @media only screen and (max-width: 350px){
        font-size: 70%;
    }
}

.inputField {
    width:100%;
    position: relative;
    margin-top:2.5em;
    border:1px solid $gray;
    border-radius: 5px;
    padding:1em 1em  1em 3.2em;
    box-shadow: 0 1px 2px $shadow-color;
    &:hover {
        box-shadow: .3px .3px 2px $purple,
                    -.3px -.3px 2px $purple;
    }
    input {
        width:100%;
        font-size: 1em;
        line-height: 1em;
        border:none;
        margin:0;
        outline: none;
        background-color: white;         
    }
    .icon {
        color:$gray;
        position: absolute;
        left: 1em;
        top:50%;
        font-size: $larger-font-size;
        transform: translateY(-50%);
    }
}

.sign__btn {
    @extend %flex-box;
    justify-content: flex-start;
    margin-top:2em;
    button {
        background:linear-gradient(45deg, $blue, $purple, $red);
        color:white;
        border:none;
        outline: none;
        border-radius: 2.5em;
        font-size: $primary-font-size;
        padding:0.8em 1.5em;
        margin-right:1.5em;
        box-shadow: $box-shadow;
    
    &:hover {
        background:$background-gradient-reverse;
    }
 }
}

.facebook__login {
    margin-top:1.5em;
    .or__wrapper {
        width:100%;
        @extend %flex-box;
    }
    .or {
        width:45%;
        border-top:1px solid $gray;
    }
    .text{
        width:10%;
        border:none;
    }
    .fbButton {
        width:fit-content;
        margin:0 auto;
        position: relative;
        margin-top:1em;
        .faFacebook {
            position: absolute;
            left:1em;
            top:50%;
            transform: translateY(-50%);
            color:white;
            font-size: $larger-font-size
        }
    button {
        border-radius:2.5em !important;
        font-size: 1em !important;
        padding: 1em 1.4em!important;
        padding-left:2.8em !important;
        color:white !important;
        font-weight: 300 !important;
        text-transform: capitalize !important;
        cursor: pointer;
        &:hover {
           background-color: #405ba5 !important;
         }
    }
 }
}


