$orange : rgba(246,109,26,0.3);
$red: rgba(194,29,40,0.5);
$purple05 : rgba(134,47,79,0.5);
$purple07 :rgba(134,47,79,0.7);
$blue07: rgba(49,145,151,0.7);
$blue04: rgba(49,145,151,0.4);

@import '../../config';

%flex-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sectionProfile {   
    @extend %flex-box;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    height:fit-content;
    position: relative;
    a {
        text-decoration: none !important;
        width:100%;
        border-bottom: 1px solid $main-bg-color;
       
    }
    .avatar__wrapper {
        width:100%;
        @extend %flex-box;
        flex-direction: column;
        background-color: white;
        padding:3.5vh 1vw;
        border-radius: 5px 5px 0 0;
    }
    .avatar {
        width: 13vw;
        height: 13vw;
        max-width: 208px;
        max-height: 208px;
        margin-bottom:2px;

    }
    .section__details {
        font-weight: 500;
        color:#666;
        width:100%;        
    }
    .username {
        font-size: 1.4em;
        font-weight: 500;
        padding-top: 3vh;
    }
    .details__fields,
    .audience__info {
        background-color: white;
        padding:2vh 1vw;
        color: $gray;
        width:100%;
        padding-top: 1.5em;
        color : $gray;
        cursor: pointer;
        .icon {
            margin-right: 0.5em;
        }
        
    }
   .audience__info {
    border-bottom: 1px solid $main-bg-color;
    padding-bottom: 3vh;
    width:100%;
   }
 
    .details__fields:hover {
        color:#222;
    }

}
