@import '../../../config';
@import '../../../utils';

.network {
    padding:1em;
    width:100%;
    &__wrapper {
    @extend %flex-box;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 80vh;
    overflow-y: auto;
    .cards__wrapper{
        width:30%;
        margin: 0 3em;
        padding:1em 0;
        border-radius: 1em;
        color:$gray;
        box-shadow: $box-shadow;
        &:hover{
            background-color:$light-gray;        
         }
        .card__item {
            @extend %flex-box;
            flex-direction: column; 
            width:100%;     
            img {
                width:10em;
                height:10em;
                border-radius:50%;
            }  
            .name {
                font-weight: bold;
                font-size:1.2em;
            } 
            
            p {
                font-size: 1em;
                font-weight: 500;
                margin:0;
            }  
        }
        &:nth-child(3),
        &:nth-child(4){
            margin-bottom:0;
        }
        .button__wrapper{
            @extend %flex-box;
            margin-top:.5em;
            width:80%;
            justify-content: space-around;
            .button {
                @extend %button__transparent__blue;
                padding:0.3em 0.8em;
                border-radius:1.5em;
            }

        }
     @media only screen and (max-width:650px){
         width:80%;
         margin:1em auto;
     }
   
    }
}
}

span.network__title {
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color:$gray;
    padding:1em;
}