@import '../../../config';

.audience__main{
    padding:0.5em;
    display: flex;
    box-shadow: 0 1px 2px $shadow-color;
    height:85vh;
    border-radius: .5em;
    .background{
        height: 30vh;
    }
    .wrapper {
        height:82vh;

    }
    .container{
        padding:0;
    }
    .existing__audience{
        max-height: 80vh;
        overflow: hidden;
        width:30%;
        @media only screen and (max-width:650px){
            width:50%;    
       }
           
    }

    .under__preview{
        width:70%;
        max-height: 82vh;
        margin:0 auto;
        font-size: 80%;
        overflow: hidden;
    }
    .audience__info {
        padding:1em 0;
        padding-left:0.5em;
        font-size: 1.2em;
    }
    .audience__list {
        height:100%;
        overflow-x: auto;
    }
   @media only screen and (max-width:450px){
       font-size: 80%;
   }
}

@media only screen and (max-width:650px){
   .existing__audience {
       width:50%
   }
   .audience__main .under__preview {
       width:50%
   }
}