@import '../../../config';

.audience__main{
    padding:0.5em;
    display: flex;
    box-shadow: 0 1px 2px $shadow-color;
    border-radius: .5em;
    .background{
        height: 30vh;
    }
    .wrapper {
        height:43vh;
    }
    .container{
        padding:0;
    }
    .existing__audience{
        max-height: 80vh;
        overflow: hidden;
        width:30%;
      
    }

    .under__preview{
        width:65%;
        margin:0 auto;
        font-size: 80%;
    }
    .audience__info {
        padding:1em 0;
        padding-left:0.5em;
        font-size: 1.2em;
    }
    .audience__list {
        height:100%;
        overflow-x: auto;
    }
   @media only screen and (max-width:450){
       font-size: 80%;
   }
}
