.shortProfile {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding:0.5em;
    border-radius: 0.5em;
    background-color: white;
}

.short__avatar {
    width:40px;
    height:40px;
}

.shortProfile .username {
    padding-left:0.5em;
    color:#666;
    font-weight: 500;
    font-size: 1em;
    height:1.2em;
    
}

.shortProfile .username:hover {
    color: #000;
}
