
*{
  box-sizing: border-box;
}


.divContainer a{
  text-decoration: none;
  color:#319197 ;
  text-align: center;
}

.divContainer span{
  margin-top: 10px;
}
 

 .divContainer a{ 
   text-decoration: none;
   color:#319197 ;
   text-align: center;
 }
 
 .divContainer p{
  width: 22vw;
 }

a{
  text-decoration: none;
  color:#319197 ;
}


.p a:hover{
  color:#176a70 ; 
}


.myimgStyle {
  max-width:20vw;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;

}
.mylogo{
  max-width: 7vw;
  
}

.a{
  text-align: center;

}





