@import '../config';

.jobsByShush {
  margin-top: 8vh;
}

.searchJob {
  border-radius: 5px 5px 0 0;
  .jobs-wrapper {
    width:100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
   }
  .p,
  .a {
    width:100%;
    text-align: center;
    padding-top:10px;
    a{
      text-decoration: none;
      color:#319197 ;
      text-align: center;
      padding:10px;
      &:hover{
        color:#176a70;
        text-decoration: underline; 
      }
   }
  }
  .divContainer {
    border-bottom:2px solid $main-bg-color;
    border-radius: 0;
    padding: 0 10px;  
    width: 49%;
    margin:0;
    box-shadow: 1px 1px 4px $shadow-color;
    @media only screen and(max-width:650px){
      width:95%;
      padding: 0;
    }
  }

  span{
    margin-top: 10px;
  }
  a{ 
    text-decoration: none;
    color:#319197 ;
    text-align: center;
  }
 
}


.myimgStyle {
  max-width:20vw;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 15px;

}
img.mylogo{
  max-width: 7vw;
  
}

.a{
  display: block;
  color:$blue;
  cursor: pointer;
  width:100%;
  text-align: center;
  &:hover {
    text-decoration: underline;
  }
}





