@import '../../config';
@import '../../utils';

.pagination {
    @extend %flex-box;
    justify-content: flex-start;
    width:fit-content;
    .item {
        background-color: white;
        border:1px solid $blue;
        padding: 0.4em 0.7em;
        margin:0.3em;
        color:$blue;
        line-height: 1.2em;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            background-color: $light-gray;
        }
    }
    span.item.current {
        color:white;
        background-color: $blue;
    }
    .next {
        content: "\276F";
    }
    .prev {
        content: "\276E";
    }
}