$orange : rgb(246,109,26);
$red: rgb(194,29,40);
$purple : rgb(134,47,79);
$purple05 :rgba(134,47,79,0.5);
$blue: rgb(49,145,151);
$blue07: rgba(49,145,151,0.7);
$light-blue:rgba(159, 219, 224, 0.1);
$gray:  #666;
$gray08: rgba(250,250,250,0.8);
$light-gray:rgba(250,250,250, 0.6);
$darkgray:#222;
$box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
$shadow-color: rgba(0, 0, 0, 0.15);
$primary-font-size:1.1em;
$larger-font-size:1.2em;


$border-background-gradient: linear-gradient(135deg, $orange, $orange, $red, $red, $purple,$purple, $blue);
$background-gradient:linear-gradient(45deg, $blue, $purple, $red);
$background-gradient-reverse:linear-gradient(135deg, $blue, $purple, $red);
$wallpaper-background-gradient:linear-gradient(45deg, $orange, $red, $purple05, $blue07)




