@import './config';

%flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

%button {
    @extend %flex-box;
    border:none;
    margin:0;
    outline: none;
    font-size: 1.1em;
    color: $gray; 
    outline: none;   
        &:hover{
            color:$darkgray;
        }
}

%button__blue {
    color:white !important;
    border:1px solid $blue !important;
    background-color: $blue !important;
    border-radius: 1em;
    &:hover {
        background-color: transparent !important;
        color:$blue !important;
        cursor: pointer;
    }
}
%button__transparent__blue {
    color:$blue !important;
    border:1px solid $blue !important;
    background-color:white !important;
    border-radius: 1em;
    &:hover {
        background-color: $blue  !important;
        color:white !important;
        cursor: pointer;
    }
}



.active{
    &:before {
     content: '';
     position: absolute;
     top: 0; right: 0; bottom: 0; left: 0;
     z-index: -1;
     margin: -3px; 
     border-radius: inherit;
     background: $border-background-gradient;
     box-shadow: $box-shadow;
   }
 }
 
 .errorMsg {
    color:$red;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: normal !important;
}

.error__msg {
    position: absolute;
    font-size: 0.7em;
    font-weight: bold;
    top:105%;
    left:0;
    color:$red;
    text-align: left;
}
