.App {
  text-align: center;
  width:100vw;
}

.wrapper {
  box-sizing: border-box;
  width:95vw;
  margin:0 auto;

}

* {
  box-sizing: border-box;
}


@media only screen and (max-width: 650px){
  .wrapper {
    font-size: 70%;
    max-width:100vw;
  }
}


*::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(52, 156, 163, 0.03);
  box-shadow: inset 0 0 6px rgba(49,145,151, 0.03);
  background-color: rgba(49,145,151, 0.03);
}

*::-webkit-scrollbar
{
  width: 6px;
  height:6px;
  background-color: rgba(49,145,151, 0.03);
}

*::-webkit-scrollbar-thumb
{
  background-color: rgba(49,145,151, 0.3);
}

