.App {
  text-align: center;
  width:100vw;
}

.container {
  width:90vw;
  margin:0 auto;
}

* {
  box-sizing: border-box;
}
@media only screen and (max-width: 850px){
  .container {
   font-size: 80%;
  }
}

@media only screen and (max-width: 650px){
  .container {
    width:95vw;
    font-size: 70%;
  }
}

*::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(52, 156, 163, 0.03);
  box-shadow: inset 0 0 6px rgba(49,145,151, 0.03);
  background-color: rgba(49,145,151, 0.03);
}

*::-webkit-scrollbar
{
  width: 6px;
  height:6px;
  background-color: rgba(49,145,151, 0.03);
}

*::-webkit-scrollbar-thumb
{
  background-color: rgba(49,145,151, 0.1);
}

