.audience__list {
    .shortProfile {
    }
    ul {
        list-style-type: none;
    }
    li {
        display: block;
        width:90%;
        margin-top:1em;
        border:0.5px solid rgba(0, 0, 0, 0.05);
        padding:0.5em;
        border-radius: 0.5em;
        &:hover {
            background-color:rgba(49,145,151, 0.03);
        }
    }
    
}