@import '../../config';
@import '../../utils';


.job {
    padding:1em;
    background-color:$light-blue;
    form {
        @extend %flex-box;
        width:50%;
        margin:0 auto;
        input {
            border:1px solid $blue;
            outline: none;
            border-radius: 1.5em;
            padding: 0.5em 1em;
            margin-right:1em;
        }
    }
}