@import '../../config';
@import '../../utils';


.job {
    padding:1em 3em;
    background-color:$light-blue;
    min-height: 85vh;
    form {
        @extend %flex-box;
        flex-wrap: wrap;
        align-items: baseline;
        width:60%;
        margin:0 auto;
        @media only screen and(max-width:450px) {
            width:85%;
        }
        input {
            border:1px solid $blue;
            outline: none;
            border-radius: 1.5em;
            padding: 0.5em 1.5em;
            margin:1em;
            background-color: white;
            width:30%;
            min-width:6em;
        }
    }
    &__card {
        font-size: 1.1em;
        padding:2em;
        border-radius: 1em;      
    }
    &__description,
    &__apply__link {
        font-size: 1em;
    }
    .company__logo {
        img {
         max-width: 10em;
         padding:1em;
        }
     }
}

.full__time__label {
    display: block;
    position: relative;
    padding-left: 1.5em;
    margin-bottom: .8em;
    cursor: pointer;
    font-size: 1em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .full__time__label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0.2em;
    left: 0;
    height: 1.2em;
    width: 1.2em;
    background-color:white;
    border:1px solid $blue;
  }
  
  .full__time__label:hover input ~ .checkmark {
    background-color: $light-gray;
  }
  
  .full__time__label input:checked ~ .checkmark {
    background-color: $blue;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .full__time__label input:checked ~ .checkmark:after {
    display: block;
  }
  
  .full__time__label .checkmark:after {
    left: .4em;
    top: .1em;
    width: .3em;
    height: .6em;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }