

.networkDiv{
  width:100%;
  height: fit-content;
  border: 1px solid rgb(252, 248, 248);
  overflow-x: scroll;
}
.networkClass{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.box{
  padding: 1%;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  transition: .3s;
}
.box:hover{
  transform: scale(0.94);
} 
